@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(135deg, #23d5abef , #23a5d5ee,#e73c7eef,#ee7652ee);
  animation: gradient 25s ease infinite;
  background-size: 400% 400%;
  overflow-y: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* wrapping  */


.wrapper{
  background:rgba(255,255,255,0.1);
  max-width: 580px;
  width: 100%;
  padding:10px;
  border-radius: 12px;
  border-left: 2px solid rgba(255,255,255,.3);
  border-top: 2px solid rgba(255,255,255,.3);
  box-shadow: 0 14px 32px 0 rgba(27, 3, 24, 0.189);
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.wrapper img{
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.1);
}

.user-wrap{
	max-width: 450px;
}

/* Users List CSS Start */


.users {
	padding: 25px 30px;
}

.users header,
.users-list .incoming-user {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	justify-content: space-between;
	margin-bottom: 20px;
}

.main-header {
	color: #fff;
	font-size: 28px;
}

.main-header-text {
	color: #222;
}

.users header img {
	height: 70px;
	width: 70px;
	border: 3px solid rgba(0, 0, 0, 0.2);
}
:is(.users, .users-list) .content {
	display: flex;
	align-items: center;
}
:is(.users, .users-list) .content .details {
	color: #000;
	margin-left: 20px;
}
:is(.users, .users-list) .details span {
	font-size: 18px;
	font-weight: 500;
}
.users header .logout {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 32px 0 rgba(135, 31, 123, 0.178);
	color: #eee;
	outline: none;
	border: none;
	padding: 7px 15px;
	text-decoration: none;
	border-radius: 5px;
	font-size: 17px;
}


.users-list {
	max-height: 350px;
	overflow-y: auto;
	border-radius: 8px;
}
:is(.users-list, .chat-box)::-webkit-scrollbar {
	width: 0px;
}
.users-list .incoming-user {
	padding-bottom: 10px;
	margin-bottom: 15px;
	padding-right: 15px;
	background: rgba(255, 255, 255, 0.4);
	padding: 8px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.users-list .incoming-user:last-child {
	margin-bottom: 0px;
	border-bottom: none;
}
.users-list .incoming-user img {
	height: 50px;
	width: 50px;
	border: 3px solid rgba(0, 0, 0, 0.2);
}
.users-list .incoming-user .details p {
	color: #4d4d4e;
}
.users-list .incoming-user .status-dot {
	font-size: 12px;
	color: #119057;
	padding-left: 10px;
	padding-right: 4px;
}
.users-list .incoming-user .status-dot.offline {
	color: #333;
}


/* Chat Area CSS Start */

.chat-area header{
  display: flex;
  align-items: center;
  padding: 12px 30px;
  padding-left: 10px;
  
}
.chat-area header .back-icon{
  color: #333;
  font-size: 18px;
}
.chat-area header img{
  object-fit: cover;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin: 0 18px;
}
.chat-area header .details span{
  font-size: 20px;
  font-weight: 500;
}

.main-header{
  color:#000;
}

.main-header-text{
  color:#222;
}

.chat-box{
  position: relative;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 8px;
  padding: 10px 22px 20px 22px;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.2);
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);

}
.chat-box .text{
  position: absolute;
  top: 45%;
  left: 50%;
  width: calc(100% - 50px);
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 17px;
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%),
              0rem 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.chat-box .outgoing .details{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p{
  background: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 18px 18px 0 18px;
  font-size: 17px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.chat-box .incoming .details{
  margin-right: auto;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}
.incoming .details p{
  background: rgba(255,255,255,0.8);
  color: #333;
  border-radius: 18px 18px 18px 0;
  font-size: 17px;
}
.typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 16px;
  padding: 0 13px;
  border: 1px solid rgba(255,255,255,0.1);
  outline: none;
  border-radius: 5px 0 0 5px;
  background: rgba(255,255,255,0.8);
}
.typing-area button{
  color: #fff;
  width: 55px;
  border: none;
  outline: none;
  background: rgba(0,0,0,0.7);
  font-size: 19px;
  cursor: pointer;
  opacity: 0.7;
  pointer-events: none;
  border-radius: 0 5px 5px 0;
  transition: all 0.3s ease;
  z-index: 1;
}
.typing-area button.active{
  opacity: 1;
  pointer-events: auto;
}

/* Background Animation */

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: -1;
}

.circles li:nth-child(1){
  right: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  right: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  right: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  right: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  right: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  right: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  right: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  right: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  right: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  right: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
    transform: translateY(-1000px) rotate(-720deg);
      
      opacity: 0.3;
      border-radius: 20%;
  }

  100%{
    transform: translateY(0) rotate(0deg);
      opacity: 0.9;
      border-radius: 60%;
  }

}

/* Responive media query */
@media screen and (max-width: 450px) {
  .form, .users{
    padding: 20px;
  }
  .form header{
    text-align: center;
  }
  .form form .name-details{
    flex-direction: column;
  }
  .form .name-details .field:first-child{
    margin-right: 0px;
  }
  .form .name-details .field:last-child{
    margin-left: 0px;
  }

  .users header img{
    height: 45px;
    width: 45px;
  }
  .users header .logout{
    padding: 6px 10px;
    font-size: 16px;
  }
  :is(.users, .users-list) .content .details{
    margin-left: 15px;
  }

  .users-list a{
    padding-right: 10px;
  }

  .chat-area header{
    padding: 15px 20px;
  }
  .chat-box{
    min-height: 400px;
    padding: 10px 15px 15px 20px;
  }
  .chat-box .chat p{
    font-size: 15px;
  }
  .chat-box .outogoing .details{
    max-width: 230px;
  }
  .chat-box .incoming .details{
    max-width: 265px;
  }
  .incoming .details img{
    height: 30px;
    width: 30px;
  }
  .chat-area form{
    padding: 20px;
  }
  .chat-area form input{
    height: 40px;
    width: calc(100% - 48px);
  }
  .chat-area form button{
    width: 45px;
  }
}
